<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="     
           http://www.springframework.org/schema/beans     
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd     
           http://www.springframework.org/schema/context     
           http://www.springframework.org/schema/context/spring-context-4.3.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- 开启注解处理器 -->
	<context:annotation-config />
	
	<!-- 开启组件自动扫描 -->
	<context:component-scan base-package="com.yawei.*" />
	
	<!-- 开启基于@Aspectj的切面注解处理器 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- 开启本地化配置 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="defaultEncoding" value="uft-8" />
		<property name="cacheSeconds" value="60" />
		<!--<property name="basename" value="locale\messages" />-->
	</bean>
	<!-- 加载应用属性实例，可通过  @Value("#{APP_PROP['jdbc.driver']}") String jdbcDriver 方式引用 -->  
   <util:properties id="APP_PROP" location="classpath:jdbc_oracle.properties" local-override="true"></util:properties>
</beans>