body
{
margin:0;
padding:0;
background-color:#ffffff;
font-size:14px;font-family: "寰蒋闆呴粦";
}
img
{
border:0;
}
a
{
text-decoration:none;
color:#000000;
}
a:hover
{
    text-decoration:none;
    color:#000000;
    cursor: pointer;
}
.cursor{ cursor: pointer;}
li
{
list-style:none;
}
.black{ background-color:#4e555f;}
.orange{ background-color: #ffad2b;}
.green{ background-color:#2ab76c;}
.blue{  background-color: #4f8de0;}
.red{  background-color: #e87864;}
.left{ float:left;}
.right{ float:right;}
.center{ text-align:center;}
.m-40{ margin-left:30px;}
.bold{ font-weight:bold;}

/*椤堕儴nav*/

.top-nav{background-color:#3d127d; height:37px;color:#ffffff;}
.top-nav-c{margin:0 auto;width:1100px;}
.top-nav-welcome{ margin-top:9px;}
.top-nav-phone{margin-top:9px;}
.top-nav-phone-l{margin-right:6px;  margin-top:1px;font-size: 17px;}

/*澶撮儴*/

.head-out{margin:0 auto; height:106px; border-bottom: 1px solid #b5b5b5;}
.head{margin:0 auto;width:1100px;}
.head-logo{margin-top:26px;}
.head-main{margin-top:26px;}
.head-main-small{margin-top:26px;}

/*鑿滃崟*/

.nav{margin:0 auto;width:1100px;height:40px;}
.nav ul{margin-left:-37px;}
.nav ul li{ float:left;}
.nav ul li a{ float:left;font-size:18px;padding-bottom:6px;}
.nav ul li a:hover{ border-bottom:2px solid #3d127d; padding-bottom:6px; }


/*banner*/

.banner
{
    background: url("../images/home/img-4.jpg") no-repeat;background-size:100% 100%; color: #ffffff;
    background-position:center; height: 380px;
}
.search{background-color:#f6f6f6; height:51px;}
.search-c{margin:0 auto;width:1100px;}
.search-left{ padding-top:16px; width:785px;}
.search-left span{ color:#40137c; font-size:16px;}
.search-r{ padding-bottom: 9px; margin-top: 6px;}
.search-r-l{ margin-left:10px;}
.search-r-l-l{ width:218px; height:34px; border:1px solid #dddddd;padding-left:10px;}
.search-r-button{ float:left; width: 74px; height: 38px; line-height: 38px; background-color: #40137c;color: #ffffff; text-align: center;}
.notice-login{margin:0 auto;width:1100px; height:250px; margin-top:20px; background-color:#FFFFFF;}
.notice{width:780px; margin-top:5px;height:250px;}
.notice-title{width:1100px;}
.notice-content{width:1100px; margin-top:20px;}
.notice-content-img{}
.notice-content-right{ margin-left:20px;}
.notice-content-right-t{ background-color:#f1f1f1; margin-bottom:10px;}
.notice-content-right-t-white{ background-color:#ffffff; margin-bottom:10px;}
.notice-content-right-t a{color:#40137c;}
.login{ margin-left:10px; width:296px; margin-top:4px;height:250px;}
.login-input1{ margin-bottom:8px;}
.login-input2{ margin-bottom:8px;}
.login-input3{ margin-bottom:8px;}
.login-input4{ margin-bottom:8px;}
.login-input5{}
.login-input5-l{ margin-right:9px;}
.login-input5-r{}
.login-input{ width:286px; height:37px; border:1px solid #8fbffb; border-radius:5px; color:#bbbbbb; padding-left:8px;}

/*鏁版嵁璧勬簮*/

.date-resource{ background-color:#f8f8f8; margin-top:30px; height:485px; cursor: pointer;}
.date-resource-c{margin:0 auto;width:1100px; }
.date-resource-c-title{ text-align:center; font-size:24px; margin: 30px 0 25px 440px;width:1100px;height: 36px;}
.date-resource-c-title-a{width: 104px;  border-radius:40px;height: 32px;  font-size:16px;line-height: 32px; border: 2px solid #ffffff; background-color: #dfdfdf; color:#494949; text-align:center;float: left;margin-right: 20px;}
.date-resource-c-title-hover{width: 104px; border-radius:40px;  font-size:16px;height: 32px; line-height: 32px; border: 2px solid #ffffff; background-color: #3d127d; color:#ffffff; text-align:center;float: left;margin-right: 20px;}
.date-resource-c-bj{ text-align:center; height:23px; padding-top: 30px;}
.date-resource-c-main{ height: 438px;display:none;}
.date-resource-c-content{ height: 238px;}
.date-resource-c-content ul{ margin-left:-37px;}
.date-resource-c-content ul li{float:left; margin-bottom:24px;}
.date-resource-li:hover{transform: rotate(-360deg);transition: transform 1s;}
.date-resource-c-content-li{ margin-right: 59px;}

/*鏈嶅姟璧勬簮*/

.service-resource{padding: 30px 0 0 0; cursor: pointer;}
.service-resource-c{margin:0 auto;width:1100px; height: auto;}
.service-resource-c-title{ text-align:center; font-size:24px; margin: 30px 0 25px 440px; width: 1100px; height: 32px;}
.service-resource-c-title-a{width: 104px;  border-radius:40px;height: 32px;  font-size:16px;line-height: 32px; border: 2px solid #dcd9d9; background-color: #dfdfdf; color:#494949; text-align:center;float: left;margin-right: 20px;}
.service-resource-c-title-hover{width: 104px; border-radius:40px;  font-size:16px;height: 32px; line-height: 32px; border: 2px solid #dcd9d9; background-color: #3d127d; color:#ffffff; text-align:center;float: left;margin-right: 20px;}
.service-resource-c-bj{ text-align:center; height:25px;}
.service-resource-c-content{height: 285px; margin-top: 25px; }
.service-resource-c-content ul{ margin-left:-37px; }
.service-resource-c-content ul li{ float:left; margin-bottom:24px; border:11px solid #f4f3f3;}
.service-resource-li:hover{transition: all 0.2s ease 0s;-webkit-transform: scale(1.1);}
.service-resource-c-content-li{ margin-right: 20px;}


.service-resource-main{height: 350px; display:none;}

/*涓撻搴�*/

.special-resource { background-color:#f8f8f8; margin-top:30px; height:auto;}
.special-resource-c{margin:0 auto;width:1100px; height:360px; padding-top:30px;}
.special-resource-c-title{ text-align:center; font-size:23px;  height:27px; width:1097px;}
.special-resource-c-bj{ text-align:center; height:15px; padding-top:17px;}
.special-resource-c-content{position: relative;box-shadow: 0px 1px 1px #d5d2d2;width: 193px; height:250px; border: 1px solid #e6e6e6; background-color: #FFFFFF; border-radius: 8px;}
.special-resource-c-content:hover{transition: all 0.2s ease 0s;-webkit-transform: scale(1.1);}
.special-resource-main{}
.special-resource-main ul{margin-left:-25px; line-height:31px;}
.special-resource-main ul li{}
.special-resource-c-content-r{ margin-right: 31px;}
.special-resource-c-top{ text-align: center; color: #ffffff; font-size: 17px; height: 45px; line-height: 45px;border-radius: 8px 8px 0px 0px;}
.special-resource-c-button{ background-color: #e8e8e8; color: #999999; font-size: 14px;  line-height:25px;width: 98px; height: 25px; border-radius: 18px; border: 1px solid #d4d4d4; position: absolute; bottom: -10px; left: 45px;}
.special-resource-li-top{ width: 194px; height: 48px;  color: #ffffff; text-align: center;}
.more{text-align:center; color: #ffffff; width:170px;  margin-bottom:30px;height:35px; line-height:35px;background-color: #dc5925; margin-top: 30px;margin-left: 475px;}

/*灏鹃儴*/

.footer{ background-color:#350572;}
.footer-c{margin:0 auto;width:1100px; height:120px;color:#FFFFFF; }
.footer-c-left{ width:240px; text-align:center; font-size:22px; border-right:1px solid #FFFFFF;margin-top:43px;}
.footer-c-right{ width:750px; float:left;line-height:32px;margin-top:29px; margin-left:70px;}
.footer-b{ background-color:#2c0262;}
.footer-b-c{margin:0 auto;height:27px; text-align:center; height: 38px; line-height: 38px; color:#FFFFFF;}

/*棣栭〉banner杞挱鍥� js*/

#slider{height:380px;position:relative; text-align: center;}
.slider_list img{ margin:0  auto;}
.slider_list li{position:absolute;display:none;left: 0; margin-top: -10px;}
.slider_list li:first-child{display:block;}
.slider_list-img-1{ }
.slider_icon{position:absolute;z-index:1;left:45%;bottom:20px;font-size:0;padding:4px 8px;border-radius:12px;background-color:hsla(0,0%,100%,.3);}
.slider_icon i{display:inline-block;width:12px;height:12px;border-radius:50%;margin:0 5px;}
 
.arrow{display:none;width:30px;height:60px;background-color:rgba(0,0,0,.2);position:absolute;top:50%;margin-top:-30px;}
.prve{left:0;}
.next{right:0;}
.arrow span{display:block;width:10px;height:10px;border-bottom:2px solid #fff;border-left:2px solid #fff;}
.slider_left{margin:25px 0 0 10px;transform:rotate(45deg);}
.slider_right{margin:25px 0 0 5px;transform:rotate(-135deg);}
.arrow:hover{background:#444;}
#slider:hover .arrow{display:block;}
.btn_act{background:#db192a;}

/*鏁版嵁鏍囧噯鍖栭〉闈�*/

/*鏍囧噯鍖�*/

.Standardization{ background-color:#f8f8f8; margin-top:30px; height:235px; padding-bottom: 30px;}
.Standardization-c-bj{ padding-top: 30px;}
.Standardization-c-content{ height:180px; margin-top: 30px;}
.Standardization-c-content ul{ margin-left:7px;}
.Standardization-c-content ul li{float:left;text-align: center; width: 103px;}
.Standardization-li:hover{transform: rotate(-360deg);transition: transform 1s;}
.Standardization-c-content-li{ margin-right: 75px;}
.Standardization-li-img{ width: 103px; height: 102px;}
.Standardization-li-img:hover{transform: rotate(-360deg);transition: transform 1s;}
.Standardization-li-font{margin-top:18px;}
.Standardization-li-border{ width: 30px; height: 1px; padding-top: 8px; margin-left:37px;text-align: center;}
.Standardization-li-border-green{border-bottom: 4px solid #9ac170;}
.Standardization-li-border-blue{border-bottom: 4px solid #148ad4;}
.Standardization-li-border-orange{border-bottom: 4px solid #fbb52f;}
.Standardization-li-border-red{border-bottom: 4px solid #e8614b;}
.Standardization-li-border-purple{border-bottom: 4px solid #b957d0;}
.Standardization-li-border-blue-g{border-bottom: 4px solid #4ec2d9;}

/*鍘熷搴撱�佹爣鍑嗗簱*/

.os-library {height:auto;}
.os-library-c{margin:0 auto;width:1100px;  padding-top:30px; height:auto; display: none;}
.os-library-c-title-main-c{margin:0 auto;width:1100px;  padding-top:30px; height:auto;}
.os-library-c-title{ margin-bottom:10px;text-align:center; font-size:23px;   height:27px; width:1097px; background: url(../images/home/img-66.jpg);}
.os-library-c-title-main{margin: 0px 0 10px 465px;}
.os-library-c-title-a{ color: #2c0262;font-size:22px; margin: 0 5px 0 5px; float: left;}
.os-library-c-title-hover{ color:#3d127d; border-bottom: 3px solid #3d127d; margin: 0 5px 0 5px;  padding-bottom: 5px;font-size:22px;float: left; }
.os-library-c-topa{ height: 555px;}
.os-library-c-bottoma{ width: 1100px;}
.os-library-c-bj{ text-align:center; height:15px; padding-top:17px;}
.os-library-c-content{position: relative; box-shadow: 0px 1px 1px #d5d2d2;width: 192px; height:250px; border: 1px solid #e6e6e6; background-color: #FFFFFF; border-radius: 8px;}
.os-library-c-content:hover{transition: all 0.2s ease 0s;-webkit-transform: scale(1.1);}
.os-library-c-content-grey{position: relative; margin-bottom:40px;box-shadow: 0px 1px 1px #d5d2d2;width: 192px; height:250px; border: 1px solid #e6e6e6; background-color: #f8f8f8; border-radius: 8px;}
.os-library-c-content-grey:hover{transition: all 0.2s ease 0s;-webkit-transform: scale(1.1);}
.os-library-main{}
.os-library-main ul{line-height:32px; padding-left: 27px; margin-top:10px;}
.os-library-main ul li{width: 160px; border-bottom: 1px dashed #cccccc;}
.os-library-main-li-blue{list-style-image:url(../images/home/img-66.png);}
.os-library-main-li-green{list-style-image:url(../images/home/img-65.png);}
.os-library-c-content-r{ margin-right: 33px;}
.os-library-c-top{ text-align: center; color: #ffffff; font-size: 17px; height: 45px; line-height: 45px;border-radius: 8px 8px 0px 0px;}
.os-library-c-button-green{background-color: #aecd86;  color: #FFFFFF; font-size: 14px;  line-height:37px;width:136px; height: 37px; border-radius: 3px; border: 1px solid #d4d4d4; position: absolute; bottom: -10px; left: 27px;}
.os-library-c-button-blue {background-color: #5fa4e6;  color: #FFFFFF; font-size: 14px;  line-height:37px;width:136px; height: 37px; border-radius: 3px; border: 1px solid #d4d4d4; position: absolute; bottom: -10px; left: 27px;}
.os-more{text-align:center; color: #ffffff; width:170px;  margin-bottom:38px;height:35px; line-height:33px;background-color: #dc5925; margin-top: 38px;margin-left: 589px;}
.os-more-or{text-align:center; color: #ffffff; width:170px;  margin-bottom:38px;height:35px; line-height:33px;background-color: #dc5925; margin-top: 38px;margin-left: 465px;}

/*璧勬簮鍏变韩椤甸潰 */

/*鏈嶅姟鎬荤嚎 */
.service-bus{padding: 30px 0 0 0;cursor: pointer; width: 1100px; margin: 0 auto;}
.service-bus-c-bj {text-align: center;height: 24px;}
.service-bus-center { color: #3d127d; font-weight: 600; font-size: 18px; margin: 30px 0 30px 0; padding-left:200px;}
.service-bus-center ul{ padding-left: 5px; text-align: center; width: 1100px; height: 26px;}
.service-bus-center ul li{  float: left;}
.service-bus-center-li{ margin-right: 60px;}
.service-bus-center span{text-decoration: underline;color: #dc5925; font-size: 18px; margin: 30px 0 30px 0;}
.service-bus-bottom{ width: 1100px; height: 400px;}
.service-bus-bottom-left{ width: 506px; height: 360px; border: 15px solid #f1f1f1; margin-right: 25px; float: left;}
.service-bus-bottom-left-title{ text-align: center; margin: 30px 0 15px 0;}
.service-bus-bottom-left-center{ text-align: center;}
.service-bus-bottom-left-content{ text-align: center;margin: 15px 0 10px 0;}
.service-bus-bottom-right{ width: 506px; height: 360px; border: 15px solid #f1f1f1; float: left;}
.service-bus-bottom-right-title{ text-align: center; margin: 30px 0 15px 0;}
.service-bus-bottom-right-content{margin: 15px 0 10px 0;}
.service-bus-bottom-right-content ul{line-height:41px; padding-left: 19px; margin-top:10px;}
.service-bus-bottom-right-content ul li{width: 470px; border-bottom: 1px dashed #cccccc;}
.service-bus-bottom-right-ico-orange{padding: 2px 7px 2px 7px; margin:0 8px 0 5px ; font-size: 12px;color: #ffffff; background-color: #ff6600;}
.service-bus-bottom-right-ico-grey{padding: 2px 7px 2px 7px; margin:0 8px 0 5px ; font-size: 12px;color: #ffffff; background-color: #6f6f6f;}

/*鏁版嵁閾捐矾 */

.link-circuit{background-color: #f8f8f8;margin-top: 30px;height: auto; padding-bottom: 30px;}
.link-circuit-c{padding: 30px 0 0 0;cursor: pointer; width: 1100px; margin: 0 auto;}
.link-circuit-c-bj {text-align: center;height: 24px;}
.link-circuit-center { color: #3d127d; font-weight: 600; font-size: 18px; margin: 30px 0 30px 0; padding-left:320px;}
.link-circuit-center ul{ padding-left: 5px; text-align: center; width: 1100px; height: 26px;}
.link-circuit-center ul li{  float: left;}
.link-circuit-center-li{ margin-right: 60px;}
.link-circuit-center span{text-decoration: underline;color: #dc5925; font-size: 18px; margin: 30px 0 30px 0;}
.link-circuit-bottom{ width: 1100px; height: 400px;}
.link-circuit-bottom-left{ width: 506px; height: 360px; border: 15px solid #f1f1f1; background-color: #ffffff; margin-right: 25px; float: left;}
.link-circuit-bottom-left-title{ text-align: center; margin: 30px 0 15px 0;}
.link-circuit-bottom-left-center{ text-align: center;}
.link-circuit-bottom-left-content{ text-align: center;margin: 15px 0 10px 0;}
.link-circuit-bottom-right{ width: 506px; height: 360px; border: 15px solid #f1f1f1; float: left;background-color: #ffffff;}
.link-circuit-bottom-right-title{ text-align: center; margin: 30px 0 15px 0;}
.link-circuit-bottom-right-content{margin: 15px 0 10px 0;}
.link-circuit-bottom-right-content ul{line-height:41px; padding-left: 19px; margin-top:10px;}
.link-circuit-bottom-right-content ul li{width: 470px; border-bottom: 1px dashed #cccccc;}
.link-circuit-bottom-right-orange{padding: 2px 7px 2px 7px; width:10px;margin:0 8px 0 5px ; font-size: 12px;color: #ffffff; background-color: #ff6600;}
.link-circuit-bottom-right-grey{padding: 2px 7px 2px 7px;width:10px; margin:0 8px 0 5px ; font-size: 12px;color: #ffffff; background-color: #6f6f6f;}
.link-circuit-bottom-right-li-center{ width: 380px; overflow: hidden;}
.link-circuit-bottom-right-li-right{ width: 30px;padding: 6px 7px 2px 7px;}

/*璧勬簮鍏紑 */

.Public-resources {padding: 30px 0 0 0; cursor: pointer;margin:0 auto;width:1100px; height: auto;}
.Public-resources-c-title{ text-align:center; font-size:24px; margin: 30px 0 25px 440px; width: 1100px; height: 32px;}
.Public-resources-c-title-a{width: 104px;  border-radius:40px;height: 32px;  font-size:16px;line-height: 32px; border: 2px solid #dcd9d9; background-color: #dfdfdf; color:#494949; text-align:center;float: left;margin-right: 20px;}
.Public-resources-c-title-hover{width: 104px; border-radius:40px;  font-size:16px;height: 32px; line-height: 32px; border: 2px solid #dcd9d9; background-color: #3d127d; color:#ffffff; text-align:center;float: left;margin-right: 20px;}
.Public-resources-c-bj{ text-align:center; height:25px;}
.Public-resources-c-content{height: 250px; margin-top: 25px; display: none; }
.Public-resources-c-content ul{ margin-left:-37px; }
.Public-resources-c-content ul li{ float:left; margin-bottom:24px; border:1px solid #efefef;}
.Public-resources-li:hover{transition: all 0.2s ease 0s;-webkit-transform: scale(1.1);}
.Public-resources-c-content-li{ margin-right: 17px;}
.Public-resources-main{height: 350px; display:none;}